<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact?dept=marketing&person=Ola&person=Pampi&age=23">Contact</a></li>
        <li><a href="/profile/kriss">Profile</a></li>
    </ul>
</nav>