<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <% include ./partials/nav.ejs %>
    <h1>Contact success</h1>
    <p>Thanks for getting in touch!</p>
    <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
    <p>We will reply to you at <%= data.email%></p>
</body>
</html>