<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script type="text/javascript" src="assets/scripts/main.js"></script>
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include ./partials/nav.ejs %>
    <p>Home page</p>
</body>
</html>